FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("https://www.mccain.com/media/2557/mccain-fries-and-appetizers.jpg")
    
  }

  .form {
    width: 300;
    padding: 10 16;
    background-color: #fffdfd;
    
  }
  .logo{
    font:medium;
    font-family:monospace;
    font-size:40%;
    height:120;
    font-weight: bold;
    
    
  
  }

  
  Button, TextField {
    margin-bottom: 10;
  }
  TextField {
    color: black;
  }
  .btn1{
    background-color: darkred;
    color:white;
    font-weight: bold;
    font-size: 20%;
  }
  .actionbar{
    background-color: rgba(241, 207, 143, 0.685);
  }