<ActionBar  class="actionbar" title="Shopping List"></ActionBar>
<FlexBoxLayout >
    <StackLayout><label class="goback" text="⬅" [nsRouterLink]="['/groceries']" ></label>
    <ListView  class="selected-ingr-lv"  height="500" (itemTap)="onSelectedTap($event)" [items]="ShoppingList" >
        <ng-template let-item="item" let-i="index">
            <GridLayout columns="*,auto">
                
                <StackLayout class="list-group-item" col="0,*"  orientation="horizontal"> 
                    <Label *ngIf="item.isChecked"  text="✔"  class="checkedsign"  col="0"></Label>
                    <Label [text]="item.Name" class="list-group-item" style="color:rgb(0, 0, 0);"  col="1"></Label>
                    
                </StackLayout>   
                <StackLayout col="1" orientation="vertical">
                    <Label class="list-group-item2" text="Move To Pantry" (tap)="fromShoppingListToPantry(item)"  col="2"></Label>
                    <Label class="list-group-item2" text="Remove" (tap)="removeShopList(item)"></Label>
                </StackLayout>
                    
                
            </GridLayout>
        </ng-template>
        
    </ListView>
    </StackLayout>  
</FlexBoxLayout>

