<ActionBar title="Shopping List"></ActionBar>
<FlexBoxLayout >
    <StackLayout><label class="goback" text="⬅" [nsRouterLink]="['/groceries']" style="font-size: 70%;"></label>
    <ListView  class="selected-ingr-lv"  height="500" (itemTap)="onSelectedTap($event)" [items]="ShoppingList" style="background-color: rgba(0,0,0,0.5);">
        <ng-template let-item="item" let-i="index">
            <GridLayout columns="*,auto">
                
                <StackLayout class="list-group-item" col="0,*"  orientation="horizontal"> 
                    <Label *ngIf="item.isChecked"  text="✔" style="font-size:50%"  style="border-width: 1;"  col="0"></Label>
                    <Label [text]="item.Name" class="list-group-item" style="color:#fff;"  col="1"></Label>
                    
                </StackLayout>   
                <StackLayout col="1" orientation="vertical">
                    <Label class="list-group-item2" text="Move To Pantry" (tap)="fromShoppingListToPantry(item)" style="border-width: 1;" col="2"></Label>
                    <Label class="list-group-item2" text="Remove" (tap)="removeShopList(item)" style="border-width: 1;"></Label>
                </StackLayout>
                    
                
            </GridLayout>
        </ng-template>
        
    </ListView>
    </StackLayout>  
</FlexBoxLayout>

