<ActionBar title="Recipes Details"></ActionBar>
<FlexboxLayout class="backround">
    <ScrollView orientation="vertical">
        <StackLayout class="alldetails">
            <Label class="recipename" [text]="item.Name"></Label>
            <Label text=""></Label>
            <Label class="title1" textWrap="true" text="The ingredients required for this recipe:"></Label> 
            <label class="detail1" *ngFor="let ing of item.IngredientsArray" [text]="ing"></label>
            <Label text=""></Label>
            <Label class="title1" textWrap="true" text="The ingredients you already own for this recipe:"></Label> 
            <label class="detail1" *ngFor="let e of existsBoth" [text]="e"></label>
            <Label text=""></Label>
            <Label class="title1" textWrap="true" text="The ingredients you miss for this recipe:"></Label>
            <label class="detail1" *ngFor="let miss of missing" [text]="miss"></label>
            <Button class="btn1" text="Add missing ingredients to shopping list" (tap)="addToShoppinglist()"></Button>
            <Label text=""></Label>
            <Label class="title1" text="Preparation time:"></Label>
            <Label class="detail1" [text]="item.Preparation"></Label>
            <Label text=""></Label>
            <Label class="title1" text="The instructions:"></Label> 
            <label class="detail1" textWrap="true" [text]="item.Instructions"></label>
        </StackLayout>
        
    </ScrollView> 
    
    
</FlexboxLayout>

