<ActionBar class="actionbar" title="Recipe Details">
    <ActionItem >
        <GridLayout width="100">
              <Button text="⬅"  [nsRouterLink]="['/recipes']"></Button>
        </GridLayout>
  </ActionItem>


</ActionBar>
<FlexboxLayout class="backround">
    <StackLayout><label class="goback" text="⬅"  [nsRouterLink]="['/recipes']" ></label>
    <ScrollView orientation="vertical" height="500" >
        <StackLayout class="alldetails"  >
            <Label class="recipename" [text]="item.Name"></Label>
            <Label text=""></Label>
            <Label class="title1" textWrap="true" text="The Ingredients Required For This Recipe:"></Label> 
            <label class="detail1" *ngFor="let ing of item.IngredientsArray" [text]="ing"></label>
            <Label text=""></Label>
            <Label class="title1" textWrap="true" text="The Ingredients You HAVE For This Recipe:"></Label> 
            <label class="detail1" *ngFor="let e of existsBoth" [text]="e"></label>
            <Label text=""></Label>
            <Label class="title1" textWrap="true" text="The Ingredients You MISS For This Recipe:"></Label>
            <label class="detail1" *ngFor="let miss of missing" [text]="miss"></label>
            <Button class="btn1" text="Add Missing Ingredients To Your Shopping List" (tap)="addToShoppinglist()"></Button>
            <Label text=""></Label>
            <Button class="btn1" text="Visit Shopping List" [nsRouterLink]="['/shoppinglist']"></Button>
            <Label text=""></Label>
            <Label class="title1" text="Preparation Time:"></Label>
            <Label class="detail1" [text]="item.Preparation"></Label>
            <Label text=""></Label>
            <Label class="title1" text="Instructions:"></Label> 
            <label class="detail1" textWrap="true" [text]="item.Instructions"></label>
        </StackLayout>
        
    </ScrollView>
    </StackLayout>
    
    
</FlexboxLayout>

