 FlexboxLayout {
    flex-direction: column;

    background-size: cover;
    background-image: url("https://www.mccain.com/media/2557/mccain-fries-and-appetizers.jpg")
    
  }
.form2{
  justify-content: center;
  align-items: center;
  width: 350;
  padding: 10 16;
  background-color: #fffdfd;
}
.listofrecipes{
  font-size:30%;
  font-weight: bold;
    
}
.label1{
  font-size:35%;
  font-weight: bold;
  background-color: bisque;
}
.label2{
  font-size:20%;
  font-weight: bold;
  background-color: bisque;
}
.goback{

  font-weight: bold;
  font-size: 95;
  
  
}
