<ActionBar title="Recipes"></ActionBar>

<FlexboxLayout class="backround">
    <StackLayout><label class="goback" text="⬅" [nsRouterLink]="['/groceries']" ></label>
        <StackLayout class="form2">
            <StackLayout class="label1">
                <Label text="Available Recipes : "></Label>
                <Label class="label2" text="Tap a recipe for details... "></Label>
                <Label text=" "></Label>
            </StackLayout>
            <StackLayout class="listofrecipes">
                <Label *ngFor="let item of recipeList" [text]="item.Name" (tap)="something(item)"[nsRouterLink]="['/recipedetail']"></Label> 
            </StackLayout>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>


    
   
    
    <!-- <ScrollView>
        <StackLayout>
            <StackLayout *ngFor="let item of recipeList">
                <Label [text]="item.Name" style="color:rgb(0, 0, 0); font-size: large;"></Label>
            </StackLayout> 
        </StackLayout>
    </ScrollView> -->


